<div>
  <aside>
    <h1><%= @user.name %></h1>
  </aside>
  
  <div>
    <ul>
      <li><a href="/" class="nav-link">Posts</a></li>
      <li><a href="#" class="nav-link">Followings</a></li>
      <li><a href="#" class="nav-link">Followers</a></li>
    </ul>
  </div>
</div>

